/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loaders/2.gif') 50% 50% no-repeat rgb(255,255,255);
}*/
html, body {
	height: 100%;
}
#page1 {
	min-height: 100%;
	font-family: 'BrandonText-Regular', 'Arial', sans-serif;
	background-color: #ebfbfa;
}
.company-heading {
	font-family: 'BrandonText-Bold', Arial, sans-serif;
	/*'Lovelo-Light', */
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	padding-top: 5vh;
	color: #163530;
}
.header-logo {
	width: 60px;
	vertical-align: top;
}
.welcome-text {
	text-align: center;
	padding: 4vh 3vw 0 3vw;
	font-size: 1.6em;
	min-height: 25vh;
	color: #808080;
}
.mockup {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.mockup-image {
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	/*display: block;*/
	/*position: fixed;
	bottom: 0;*/
}
.typewrite {
	color: #6AD7AD;
}
.mock1 {
	position: relative;
	left: 20px;
	z-index: 999;
	display: inline;
}
.mock2 {
	position: relative;
	right: 20px;
	display: inline;
}
#page2 {
	padding: 5em 3em 5em 3em;
	/*background: rgba(0, 0, 0, 0.04);*/
	background-color: #6ad8ad;
	font-family: 'BrandonText-Regular', 'Arial', sans-serif;
}
.subscribe-form {
	/*margin-bottom: 10vh;*/
	/*margin-top: 10vh;*/
}
#tlemail {
	width: 220px;
	font-size: 1em;
	margin-top: 2em;
	padding: 10px;
	border-radius: 7px;
}
label {
	font-size: 1.5em;
	font-family: 'BrandonText-Bold', 'Arial', sans-serif;
}
.subscribe-button {
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	margin-top: 2em;
	background-color: #214871;
	border-color: #214871;
	color: white;
}

/* Rules for devices larger than Mobiles and Tablets */
@media only screen and (min-width: 1200px) {
	.company-heading {
		font-size: 6em;
	}
	.header-logo {
		width: 100px;
		padding-top: 1.5vh;
	}
	.welcome-text {
		font-size: 2.3em;
		padding: 5vh 25vw 0 25vw;
		min-height: 40%;
	}
	.mockup-image {
		height: 55vh;
	}
	.mock1 {
		/*right: -27em;*/
		/*display: inline;*/
	}
	.mock2 {
		/*left: -27em;*/
		/*display: inline;*/
	}
	label {
		font-size: 2em;
	}
	#tlemail {
		font-size: 1.2em;
		width: 300px;
	}
	.subscribe-button {
		padding: 10px 20px 10px 20px;
		font-size: 1.2em;
	}
}