@import "https://fonts.googleapis.com/css?family=Lato";@import "https://fonts.googleapis.com/css?family=Muli";
.navbar {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	height: 75px;
}
.shrinkNav {
	height: 50px;
	/*background-color: #222;*/
	background-color: #222629;
	font-size: 15px;
}
.navbar-brand {
	font-family: 'Lovelo-Light';
	color: #163530;
}
/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loaders/2.gif') 50% 50% no-repeat rgb(255,255,255);
}*/
#page1 {
	height: 100vh;
	/*background-image: url("../img/back1.jpg");*/
	/*background-color: #EBFBFA;*/
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'BrandonText-Regular', 'Arial', sans-serif;
	overflow: hidden;
}
.welcome-text {
	text-align: center;
	padding: 30% 3vw 0 3vw;
	font-size: 1.7em;
	min-height: 45%;
}
.mockup {
	z-index: 0;
}
.mockup-image {
	height: 60vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: fixed;
	bottom: 0;
}
.typewrite {
	color: #6AD7AD;
}
.mock1 {
	position: relative;
	left: 25px;
	z-index: 999;
	display: inline;
}
.mock2 {
	position: relative;
	right: 25px;
	display: inline;
}
#page2 {
	min-height: 100vh;
	padding-top: 8em;
	background: rgba(0, 0, 0, 0.04);
	z-index: 9999;
}

/* Rules for devices larger than Mobiles and Tablets */
@media only screen and (min-width: 768px) {
	.welcome-text {
		font-size: 2.5em;
		padding: 20vh 15vw 0 15vw;
		min-height: 40%;
	}
	.mockup-image {
		height: 60vh;
	}
	.mock1 {
		/*right: -27em;*/
		/*display: inline;*/
	}
	.mock2 {
		/*left: -27em;*/
		/*display: inline;*/
	}
}