@import "https://fonts.googleapis.com/css?family=Lato";@import "https://fonts.googleapis.com/css?family=Muli";
/*.navbar {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	height: 75px;
}
.shrinkNav {
	height: 50px;
	background-color: #222629;
	font-size: 15px;
}
.navbar-brand {
	font-family: 'Lovelo-Light';
	color: #163530;
}*/
/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loaders/2.gif') 50% 50% no-repeat rgb(255,255,255);
}*/
#page1 {
	min-height: 100vh;
	font-family: 'BrandonText-Regular', 'Arial', sans-serif;
}
.company-heading {
	font-family: 'Lovelo-Light', 'BrandonText-Regular', Arial, sans-serif;
	text-align: center;
	font-size: 3.5em;
	padding-top: 5vh;
	color: #163530;
}
.welcome-text {
	text-align: center;
	padding: 4vh 3vw 0 3vw;
	font-size: 1.6em;
	min-height: 30vh;
	color: #808080;
}
.mockup {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: auto;
}
.mockup-image {
	height: 50vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: fixed;
	bottom: 0;
}
.typewrite {
	color: #6AD7AD;
}
.mock1 {
	position: relative;
	left: 20px;
	z-index: 999;
	display: inline;
}
.mock2 {
	position: relative;
	right: 20px;
	display: inline;
}
#page2 {
	min-height: 100vh;
	padding-top: 8em;
	background: rgba(0, 0, 0, 0.04);
	z-index: 9999;
}

/* Rules for devices larger than Mobiles and Tablets */
@media only screen and (min-width: 1200px) {
	.company-heading {
		font-size: 6em;
		padding-top: 5vh;
	}
	.welcome-text {
		font-size: 2.3em;
		padding: 5vh 25vw 0 25vw;
		min-height: 40%;
	}
	.mockup-image {
		height: 55vh;
	}
	.mock1 {
		/*right: -27em;*/
		/*display: inline;*/
	}
	.mock2 {
		/*left: -27em;*/
		/*display: inline;*/
	}
}